  <h5><i class="fas fa-laptop"></i>&nbsp;&nbsp;Route Card</h5>
  <form>
      <div class="form-row mt-4">
          <div class="form-group col-md-3">
              <label for="mouldNo">Mould No</label>
              <input type="text" class="form-control" id="mouldNo" placeholder="Enter Mould Number">
          </div>
          <div class="form-group col-md-3">
              <label for="1stTrial">1st Trial</label>
              <input type="text" class="form-control" id="1stTrial" placeholder="Enter 1st Trial">
          </div>
          <div class="form-group col-md-3">
              <label for="pName">Part Name</label>
              <input type="text" class="form-control" id="pName" placeholder="Enter Part Name">
          </div>
          <div class="form-group col-md-3">
              <label for="2ndTrial">2nd Trial</label>
              <input type="text" class="form-control" id="2ndTrial" placeholder="Enter 2nd Trial">
          </div>
      </div>
      <div class="form-row">
          <div class="form-group col-md-3">
              <label for="pNumber">Part Number</label>
              <input type="text" class="form-control" id="pNumber" placeholder="Enter Part Number">
          </div>
          <div class="form-group col-md-3">
              <label for="requestSamples">Requested Samples</label>
              <input type="text" class="form-control" id="requestSamples" placeholder="Enter Requested Samples">
          </div>
      </div>
        <div class="d-flex justify-content-around form-group row">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Maintenance</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck2">
                <label class="custom-control-label" for="customCheck2">Repair</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck3">
                <label class="custom-control-label" for="customCheck3">Modification</label>
            </div>
        </div>
      <div class="form-group">
          <label for="rCause">Root Cause</label>
          <input type="text" class="form-control" id="rCause" placeholder="Enter Root Cause">
      </div>
      <div class="form-group">
          <label for="correctiveAction">Corrective Action</label>
          <input type="text" class="form-control" id="correctiveAction" placeholder="Enter Corrective Action">
      </div>
      <div class="form-group">
          <label for="mouldingAcceptance">Moulding Acceptance</label>
          <input type="text" class="form-control" id="mouldingAcceptance" placeholder="Enter Moulding Acceptance">
      </div>
      <div class="form-group">
          <label for="qualityAcceptance">Quality Acceptance & Comments</label>
          <input type="text" class="form-control" id="qualityAcceptance" placeholder="Quality Acceptance & Comments">
      </div>
      <div class="form-row">
          <div class="form-group col-md-3">
              <label for="tMaker">Tool Maker</label>
              <input type="text" class="form-control" id="tMaker" placeholder="Enter Tool Maker">
          </div>
          <div class="form-group col-md-3">
              <label for="mouldCost">Mould Cost</label>
              <input type="text" class="form-control" id="mouldCost" placeholder="Enter Mould Cost">
          </div>
          <div class="form-group col-md-3">
              <label for="mHCUBy">Mould Histroy Card Updated By</label>
              <input type="text" class="form-control" id="mHCUBy" placeholder="Enter Mould Histroy Card Updated By">
          </div>
          <div class="form-group col-md-3">
              <label for="labourCost">Labour Cost</label>
              <input type="text" class="form-control" id="labourCost" placeholder="Enter Labour Cost">
          </div>
      </div>
      <div class="form-row">
          <div class="form-group col-md-3">
              <label for="HCVBy">Histroy Card Verified By</label>
              <input type="text" class="form-control" id="HCVBy" placeholder="Enter Histroy Card Verified By">
          </div>
          <div class="form-group col-md-3">
              <label for="tcost">Total Cost</label>
              <input type="text" class="form-control" id="tcost" placeholder="Enter Total Cost">
          </div>
          <div class="form-group col-md-3">
              <label for="mRODtime">Mould ready On Date & Time</label>
              <input type="text" class="form-control" id="mRODtime" placeholder="Mould Ready On Date & Time">
          </div>
          <div class="form-group col-md-3">
              <label for="rByDate&Time">Received By Date & Timme</label>
              <input type="text" class="form-control" id="rByDate&Time" placeholder="Enter Received By Date & Time">
          </div>
      </div>
      <div class="clearfix"></div>
<div class="float-right">
        <button type="submit" class="btn btn-success">Save</button>  
</div>
  </form>