<div class="form-row">
  <div class="col-md-8">
    <h5><i class="fa fa-th-list "></i>&nbsp;&nbsp;&nbsp;Floor View </h5>
  </div>
  <div class="col-md-4">
    <div class=" form-group">
      <button class="btn btn-secondary btn-sm float-right">Add Line</button>
    </div>
  </div>
</div>
<hr>


<ng-template #itemTemplate let-item="item" let-index="index">
  <div class="">
    <div class="card mb-3 shadow">
      <span class="machine-online w-100 status ">&nbsp;</span>
      <div class="card-header">{{item.value.name}}</div>
      <div class="card-body px-0 py-1">
        <div class="text-center w-100">Statistics</div>
        <div class="card-text py-1">
          <div class="row">
            <div class="col-md-6 text-center p-0 border-right">
              <div style="display: block">
                <canvas baseChart [colors]="doughnutChartColors" [data]="doughnutChartData" [options]="doughnutChartOptions" [labels]="doughnutChartLabels"
                  [chartType]="doughnutChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                <span class="text-center guage-name">Performance</span>
              </div>
            </div>
            <div class="col-md-6 text-center p-0">
              <div style="display: block">
                <canvas baseChart [colors]="doughnutChartColors" [data]="doughnutChartData" [labels]="doughnutChartLabels" [options]="doughnutChartOptions"
                  [chartType]="doughnutChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                <span class="text-center guage-name">OEE</span>
              </div>
            </div>
          </div>
          <hr class="my-0">
          <div class="row">
            <div class="col-md-6 text-center  pt-2 border-right">
              61<br/>
              <div class="guage-name">Parts Produced</div>
            </div>
            <div class="col-md-6 text-center  pt-2">
              8<br/>
              <span class="guage-name">Maintainance</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<accordion>
  <accordion-group>
    <button *ngFor="let line of lineList" class="btn btn-link btn-block clearfix" accordion-heading>
      <div class="pull-left float-left">{{line.name}}</div>
      <span class="btn btn-light btn-sm float-right pull-right">Add Machine</span>
    </button>
    <div class="row">
        <bs-sortable
        [(ngModel)]="machineList"
        [itemTemplate]="itemTemplate"
        itemClass="sortable-item col-md-2"
        itemActiveClass="sortable-item-active"
        placeholderItem="Drag here"
        placeholderClass="placeholderStyle"
        wrapperClass="sortable-wrapper row mx-0"
        style="width: 100%;"></bs-sortable>
    </div>
  </accordion-group>
</accordion>