.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.nav-item {
	cursor: pointer;	
}

.navbar-nav{
	flex-direction: initial;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

::ng-deep .navbar{
	flex-wrap:nowrap;
}

.nav-link:hover{
	cursor: pointer;
}

@media only screen and (max-width: 600px) {
	.width30{
		padding-left:0;
		max-width:48%;
		flex:0 0 48%;
	}
	
}

@media only screen and (min-width: 600px) and (max-width: 900px){
	.width30{
		padding-left:0;
		max-width:26%;
		flex:0 0 26%;
	}

}

@media only screen and (min-width: 900px){
	.width30{
		padding-left:0;
		max-width:20%;
		flex:0 0 20%;
	}
}

.sidenav-background-color{
	 background-color: white;
}

.side-nav-icons{
	display: inline-block; 
	width:1.25em;
	text-align:center;
	margin-left:5%
}

.no-padding{
	padding:0 !important;
}

.signoutMargin{
	margin-top: 8%;
    margin-bottom: 3%;
    padding-top: 0px;
    padding-bottom: 2px;
    border-right-width: 0px;
    border-left-width: 0px;
    padding-right: 6px;
    padding-left: 6px;
	margin-right: 5px;
	background-color: #4976b9;
	border-color: #4976b9;

}